<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/2dc41636-851f-42d0-92e5-d87c01d3850f/resourceGroups/serenityDV/providers/Microsoft.Web/sites/serenityDV</ResourceId>
    <ResourceGroup>serenityDV</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://serenitydv.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>serenitydv.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>serenityDV</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$serenityDV</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:serenitydv.database.windows.net,1433;Initial Catalog=serenitydv;Persist Security Info=False;User ID=dougcoleman;Password=B0bbi$1066;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:serenitydv.database.windows.net,1433;Initial Catalog=serenitydv;Persist Security Info=False;User ID=dougcoleman;Password=B0bbi$1066;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ClientDemographics.Models.ApplicationDbContext, ClientDemographics" MigrationConfiguration="ClientDemographics.Migrations.Configuration, ClientDemographics" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MyDB" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=tcp:serenitydv.database.windows.net,1433;Initial Catalog=serenitydv;Persist Security Info=False;User ID=dougcoleman@outlook.com;Password=B0bbi$1066;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MyDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:serenitydv.database.windows.net,1433;Initial Catalog=serenitydv;Persist Security Info=False;User ID=dougcoleman@outlook.com;Password=B0bbi$1066;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MyDB-Web.config Connection String" />
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:serenitydv.database.windows.net,1433;Initial Catalog=serenitydv;Persist Security Info=False;User ID=dougcoleman;Password=B0bbi$1066;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>